.cyd-all-container {
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
  min-height: 100vh;
  min-width: 1200px;
}

.logo-container {
  background: #333;
  border-radius: 6px;
  margin: 16px;
  height: 36px;
  img {
    user-select: none;
    -webkit-user-drag: none;
    width: 30px;
  }
  span {
    color: white;
    font-size: 14px;
    line-height: 36px;
    vertical-align: text-bottom;
    text-transform: uppercase;
    display: inline-block;
  }
}

.main-header {
  background: #fff;
  padding: 0;
  box-shadow: 2px 0 5px #3e3e3e;
  margin-bottom: 5px;
}