.pull-right{
  float: right;
  display: block;
}

.pull-left{
  float: left;
}

.clear-fix::after{
  content:"";
  display: block;
  clear: both;
}

.inline-container-bottom > *{
  display: inline-block;
  vertical-align: bottom;
}

.inline-container-bottom{
  position: relative;
}

.inline-container-bottom > .right-inline{
  position:absolute;
  right:0;
  bottom:0;
}

.wrap-inline{
  >*{
    display: inline-block;
    vertical-align: middle;
  }
}

#root{
  height:100vh;
}

.ellipsis{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.custom-container{
  margin-top:45px;
}

.far-left{
  margin-left: 10px;
}